<div class="flex flex-col h-full">
    <app-header title="Dynamic table" withShadow=""/>

    <div class="page-container">

        <f-table class="w-full h-full" [entities]="entidades()" [pagination]="paginacion()"
            [fTablaEventos]="tabla" emptyTableText="No hay registros con esos criterios">
            <ng-template #header>
                <th fwkColumnSorted="nombre" ></th>
                <th fwkColumnSorted="apellido" [label]="'apellidos'"></th>
                <th fwkColumnSorted="sueldo"></th>
                <th fwkColumnSorted="directivo"></th>
            </ng-template>

            <!-- Template para cada fila de la tabla -->
            <ng-template #body let-entity let-index="index">
                <td fwkRowField="nombre" [entity]="entity" fWd="25"></td>
                <td fwkRowField="apellido" [entity]="entity" fWd="25"></td>
                <td fwkRowField="sueldo" [entity]="entity" fWd="10"></td>
                <td fwkRowField="directivo" [entity]="entity" fWd="10"
                    [trueText]="'Simon'" [falseText]="'Nanai'"></td>
            </ng-template>
        </f-table>
    </div>
</div>
