<div class="flex flex-col h-full">
    <app-header title="Dynamic table" withShadow=""/>

    <div class="page-container">
        <f-table class="w-full h-full" [entidades]="entidades()" [paginacion]="paginacion" [fTablaEventos]="tabla">
            <ng-template #header>
                <th fwkColumnSorted="nombre" ></th>
                <th fwkColumnSorted="apellido" [label]="'apellidos'"></th>
                <th fwkColumnSorted="sueldo"></th>
                <th fwkColumnSorted="directivo"></th>
            </ng-template>

            <!-- Template para cada fila de la tabla -->
            <ng-template #body let-entidad>
                <td fwkRowField="nombre" [entidad]="entidad" fWd="25"> </td>
                <td fwkRowField="apellido" [entidad]="entidad" fWd="25"></td>
                <td fwkRowField="sueldo" [entidad]="entidad" fWd="10"></td>
                <td fwkRowField="directivo" [entidad]="entidad" fWd="10"
                    [trueText]="'Simon'" [falseText]="'Nanai'"></td>
            </ng-template>
        </f-table>
    </div>
</div>
